{% extends "core/base.html"%}
{% load static %}

{% block content %}

<!-- Home page callout 
    -->
<div class="call-out">
    <div class="container-fluid image-container">
        <div class="darken-image"></div>
        <div class="row">
            <div class="col-12 callout">
                <h1 class="text-white fs-1">Precision Cuts, Timeless Tattoos</h1>
                <h2 class="text-white fs-2">Unleash Your Style at Inked
                    Clippers!</h2>
                <a href="#Our_story" aria-label="Jump to Our Story"><i class="fa-solid fa-chevron-down fa-beat"
                        id="down-icon"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="text-center fs-2 mb-md-5 mt-3" id="Our_story">OUR STORY
        </h2>
    </div>
</div>
    <div class="row">
    <div class="col-md-6 mt-0">
        <img class="img-fluid rounded float-end py-3 mb-3 d-md-none" src="{% static 'images/ennis.jpg' %}"
            alt="Inside of the barbershop">
    </div>
</div>
<div class="row">
    <div class="col-md-6 fs-4 mt-md-2 mb-md-5 p-4">
        <p class="text-center">Established in 1965,
            we are more than just a tattoo studio and barbershop we are a living legacy of creativity and
            craftsmanship in Ennis. Step into our world of ink, clippers, and piercings, where hair artistry and
            tattoo artistry come together to create an unforgettable experience. At Inked Clippers, we believe in the power of self-expression through
            the
            medium of art. Our team of talented barbers, skilled tattoo artists, and expert piercers are
            passionate
            about translating your unique style and personality into personalized masterpieces. Whether you're
            looking for a fresh haircut that reflects your personality, an intricate tattoo that tells your
            story,
            or a stylish piercing to accentuate your individuality, we are here to bring your vision to life.
        </p>
    </div>
    <div class="col-md-6 p-4">
        <img class="img-fluid rounded float-end d-none d-md-inline thumbnail" src="{% static 'images/barberpole.jpg' %}"
            alt="Barber pole">
    </div>
</div>

<div class="row">
    <div class="col-md-6 mt-0">
        <img class="img-fluid rounded float-end mb-3 mr-2" src="{% static 'images/inked-clippers.jpg' %}"
            alt="Inside of the barbershop">
    </div>
    <div class="col-md-6 fs-4 mt-md-5 p-4">
        <p class="text-center">
            With over 50 years of heritage, Inked Clippers has a rich history of serving the community with
            exceptional barbering, tattooing, and piercing services. Our journey began as Clippers, a modest
            barbershop founded by the visionary artist Mike O'Brien in the heart of Ennis. Over the years, we
            have earned the trust and loyalty of our clients, becoming an integral part of their lives and stories.
            Today, we proudly carry on this tradition, blending the artistry of our founder with modern techniques 
            and innovations. In 2015, the legacy of Clippers evolved into Inked Clippers.
        </p>
    </div>
</div>
<div class="container-fluid my-md-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/gallery_1.jpg' %}" alt="" class="card-img-top img-fluid">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/gallery_2.jpg' %}" alt="" class="card-img-top">
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/gallery_3.jpg' %}" alt="" class="card-img-top">
            </div>
        </div>
    </div>
</div>
<!--Testimonials-->
<section>
    <h3 class="text-center mt-3" id="Testimonials">Testimonials</h3>
    <hr>
    <div class="container-fluid my-3 p-md-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="list-group me-5 d-flex justify-content-center">
                    <ul>
                        {% for user_testimonial in new_testimonial %}
                        <li class="list-group-item bg-dark text-white border-3">
                            <p class="my-3">{{ user_testimonial.get_rating_display }}</p>
                            <p class="fw-light"><span class="fw-bold">Service by -</span>
                                {{ user_testimonial.member }}
                            </p>
                            <p class="fw-light"><span class="fw-bold">Inked Clippers -</span>
                                {{ user_testimonial.service }}</p>
                            <p class="txt-none"><i class="fa-solid fa-quote-left"></i>
                                {{ user_testimonial.review }} <i class="fa-solid fa-quote-right"></i></p>
                            <small class="fw-light">Review by - {{ user_testimonial.user.username }}</small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="testimonial-btns">
                    {% if is_paginated %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="btn btn-black" href="?page={{ num }}#Testimonials">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-white" href="?page={{ num }}#Testimonials">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}